.ubuntuFontHeading{
    font-family: "Ubuntu", sans-serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
}

.ubuntuFontPara{
    font-family: "Ubuntu", sans-serif !important;
    font-weight: 300 !important;
    font-style: normal !important;
}

.colorSuccess{
    color: #28a745!important;
}

.circle{
    border-radius: 50%;
}